.question {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vw;
}

.answer-button {
  background-color: greenyellow;
  margin: 8px 0px;
  box-shadow: 2px 2px 5px grey;
  border-radius: 16px;
  border: none;
  width: 50vw;
}

.answer-field {
  width: 50vw;
  text-align: center;
}

.progress-emoji {
  width: 80vw;
  font-size: 2.9vw;
  background-color: #00A6ED;
  margin-top: 1vw;
  }

  .mistakes {
    font-size: 2vw;
    width: 80vw;
    text-align: right;
    background-color: orange;
    padding-right: 1vw;
  }

@media only screen and (max-width: 600px) {
  .question {
    font-size: 20vw;
  }
  .answer-button, .answer-field, .progress-emoji, .mistakes {
    width: 100vw;
  }
  .progress-emoji {
    font-size: 3.6vw;
  }

}
