
<h1 class = "end-message">Well Done!</h1></section>
<section class = "results">
  <h3 class = "end-score"><%= "#{"Score:".rjust(20)} #{@@score.score}" %></h3>
  <h3 class = "end-message-details"><%= "#{"Questions answered:".rjust(20)} #{@@score.question_count}" %></h3>
  <h3 class = "end-message-details"><%= "#{"Mistakes:".rjust(20)} #{@@score.mistakes}" %></h3>
</section>
